<html>
    <head>
        <title>SocketIO Examples</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            p {
                font-size: 150%;
            }
        </style>
    </head>
    <body>
        <h1>Socket.IO Examples</h1>
        <p><a href="{{ url_for('chat.index') }}">Chat</a></p>
        <p><a href="{{ url_for('uploads.index') }}">File uploads</a></p>
        <p><a href="{{ url_for('audio.index') }}">Audio recording</a></p>
        <p><a href="{{ url_for('polls.index') }}">Live polls</a></p>
        <p><a href="{{ url_for('where.index') }}">Where do you live?</a></p>
    </body>
</html>
