<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('where.static', filename='where/styles.css') }}">
    </head>
    <body>
        <div id="heading">
            <div>
                <h1>Where do you live?</h1>
            </div>
        </div>
        <div id="map"></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
        <script src="{{ url_for('where.static', filename='where/drop_pin.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&libraries=visualization&callback=initMap"></script>
    </body>
</html>
