<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('where.static', filename='where/styles.css') }}">
    </head>
    <body>
        <div id="heading">
            <div>
                <h1>Where do you live? (<span id="count">0</span>)</h1>
                <h2>Drop your pin at <a href="{{ pin_url }}" target="_blank">{{ pin_url }}</a></h2>
            </div>
        </div>
        <div id="map"></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
        <script src="{{ url_for('where.static', filename='where/main.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&libraries=visualization&callback=initMap"></script>
    </body>
</html>
